#chatbot{
    /* display: inline-block; */
    display: none;
}

.buttonStyle{
    width: 15vw;
    height: 15vw;
    color: white;
    background-color: blueviolet;
    border-radius: 50%;
    position: relative;
    font-size: 1vw;
    top: 35vh;
    border: none;
    display: inline-block;
}

.buttonStyle:hover{
    background-color: lightskyblue;
}


.inputSegment{
    border: 1px solid gray;
    border-radius: 60px;
    width: 35vw;
    height: 5vh;
    position: fixed;
    /* bottom: 30vh; */
    bottom: 25vh;
    margin: 0;
    left: 32.5vw;
    padding: 2px;
}

.inputSegment:hover{
    border-color: #3862ED;
    border-width: 1.5px;
}



.heading{
    top: 10vh;
    color: #3862ED;
    position: relative;
}

.chatSegment{
    /* width: 45vw; */
    width: 75vw;
    /* height: 49vh; */
    height: 55vh;
    border: 1px solid gray;
    /* border-radius: 60px; */
    display: inline-block;
    position: relative;
    top: 15vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.inputText{
    color: gray;
    float: left;
    position: relative;
    outline: none;
    left: 20px;
    /* width: 26.5rem; */
    line-break: normal;
    max-width: 26.5rem;
    min-width: 26.5rem;
    min-height: 2rem;
    max-height: 2rem;
    word-wrap: break-word;
    margin: 0.2rem;
    border: none;
    font-size: 1rem;
    vertical-align: middle;
}


.sendButtonStyle{
    background-color: #3862ED;
    border: none;
    border-radius: 100%;
    width: 1.75rem;
    height: 1.75rem;
    float: right;
    margin: 1rem;
    position: relative;
    color: white;
    vertical-align: middle;
    bottom: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.displayChatSegment{
    max-height: 18rem;
    /* max-width: 36rem; */
    max-width: 62rem;
    /* width: 36rem; */
    width: 62rem;
    height: 18rem;
    margin: 2rem;
    overflow: scroll;
    text-align: left;
}